In [1]:
import pandas as pd

In [3]:
data=pd.read_csv("problem_4_traveler_raw.csv")

In [4]:
data

,PNR,origination_city,destination_city,orig_city_cd,dest_city_cd,origination_lat,origination_lon,destination_lat,destination_lon,fl_grfare_usd_am,fl_valid_id,fl_mile_ct,fl_cost_per_mile_usd_am,carry_a2_cd,fl_no,seg_arr_local_time,seg_dprt_local_time,seg_arr_utc_time,seg_dprt_utc_time
0,921597,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,550.95,1,1981,0.27,AA,772,5/14/18 16:33,5/14/18 9:03,5/14/18 23:33,5/14/18 14:03
1,921597,MIA,PUJ,MIA,PUJ,25.796000,-80.278234,18.562477,-68.363998,252.80,1,909,0.27,AA,2593,5/14/18 21:23,5/14/18 19:00,5/15/18 2:23,5/14/18 23:00
2,921597,PUJ,MIA,PUJ,MIA,18.562477,-68.363998,25.796000,-80.278234,252.81,1,909,0.27,AA,1317,5/18/18 9:41,5/18/18 7:00,5/18/18 13:41,5/18/18 12:00
3,921597,MIA,PHX,MIA,PHX,25.796000,-80.278234,33.435036,-112.000164,550.95,1,1981,0.27,AA,272,5/18/18 15:59,5/18/18 13:55,5/18/18 20:59,5/18/18 20:55
4,492751,PHX,SAN,PHX,SAN,33.435036,-112.000164,32.731938,-117.197312,249.44,1,302,0.82,AA,465,2/5/18 8:52,2/5/18 8:35,2/5/18 15:52,2/5/18 16:35
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
129,335664,EWR,PHX,EWR,PHX,40.689071,-74.178753,33.435036,-112.000164,1462.44,1,2131,0.68,UA,1611,3/29/18 22:36,3/29/18 19:55,3/30/18 3:36,3/30/18 2:55
130,435290,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,723.27,1,1981,0.36,AA,766,6/26/18 16:28,6/26/18 8:49,6/26/18 23:28,6/26/18 13:49
131,435290,MIA,BDA,MIA,BDA,25.796000,-80.278234,32.359940,-64.701148,386.63,1,1059,0.36,AA,308,6/26/18 21:38,6/26/18 17:50,6/27/18 2:38,6/26/18 21:50
132,435290,PHX,MIA,PHX,MIA,33.435036,-112.000164,25.796000,-80.278234,64.52,0,1981,0.03,AA,766,6/27/18 16:28,6/27/18 8:49,6/27/18 23:28,6/27/18 13:49
133,435290,MIA,BDA,MIA,BDA,25.796000,-80.278234,32.359940,-64.701148,34.48,0,1059,0.03,AA,308,6/27/18 21:38,6/27/18 17:50,6/28/18 2:38,6/27/18 21:50

In [14]:
total_trip_spend= data["fl_grfare_usd_am"].sum().round(2)
total_trip_spend

125735.74

In [15]:
total_mile_count=data['fl_mile_ct'].sum().round(2)

In [16]:
num_valid_trip=data['fl_valid_id'].sum()

In [18]:
print(data["origination_city"].value_counts().head())
print(data["destination_city"].value_counts().head())
print("based on above it seems like PHX is traveler's home city")

PHX    33
LON    28
EWR    11
WAS     7
MSY     5
Name: origination_city, dtype: int64
PHX    37
LON    25
EWR     8
MIA     5
WAS     5
Name: destination_city, dtype: int64
based on above it seems like PHX is traveler's home city

PHX    37
LON    25
EWR     8
MIA     5
WAS     5
NBO     5
DFW     4
NYC     4
SFO     4
MSY     4
DEN     4
EDI     3
MAD     3
SEA     2
AMS     2
EYW     2
BDA     2
LAX     1
PUJ     1
NAS     1
BNA     1
BOS     1
SJD     1
ATL     1
CLT     1
SAN     1
MUC     1
NCE     1
MEX     1
FRA     1
DEL     1
LIH     1
Name: destination_city, dtype: int64